<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Calculation</title>
        {% load static %}
        <link rel= "stylesheet" href="{% static 'css/severanceCalculations.css' %}">
    </head>
    <body>
        <h1>Edit a Calculation</h1>
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li{% if message.tags %} class="{message.tags}"{% endif %}>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/process/edit/{{edit_calc.id}}" method="post">
            {% csrf_token %}
            <label>Name</label><br>
            <input type="text" name="name" placeholder="{{edit_calc.name}}"><br>
            <label>Month Income / Salary</label><br>
            <input type="number" step="0.01" name="salary" placeholder="{{edit_calc.salary}}"><br>
            <label>Start Date</label><br>
            <input type="date" name="start_date" placeholder="{{edit_calc.start_date | date:"Y-m-d"}}"><br>
            <label>End Date</label><br>
            <input type="date" name="end_date" placeholder="{{edit_calc.end_date | date:"Y-m-d"}}"><br>
            <label>Reason for employment termination</label><br>
            <select name="reason_employ_term">
                <option value="" selected>{{edit_calc.reason_for_termination}}</option>
                <option value="Resignation">Resignation</option>
                <option value="Wrongful dismissal">Wrongful Dismissal</option>
            </select><br>
            <label>Jurisdiction</label><br>
            <select name="jurisdiction">
                <option value="" selected >{{edit_calc.jurisdiction}}</option>
                <option value="Capital City">Capital City</option>
                <option value="Buenos Aires Province">Buenos Aires Province</option>
            </select><br>
            <button type="submit">Submit</button>
        </form>
        <form action="/calculationEdit/{{edit_calc.id}}" method="post">
            {% csrf_token %}
            <button type="submit">Reset Values</button>
        </form>
        <form action="/dashboard" method="post">
            {% csrf_token %}
            <button type="submit">Go to Dashboard</button>
        </form>

    </body>
</html>