<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Calculation Details</title>
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel= "stylesheet" href="{% static 'css/severanceCalculations.css' %}">
    </head>
    <body>
        <nav>
            <div class="row-nav">
                <!-- <p>Some image or logo</p> -->
                <h3 class="font-white ml-3">Severance Payment Calculator</h3>
            </div>
            <div>
                <ul class="row-nav">
                    <div class="row_links col">
                        <li class="align-items-center mt-2"><a href="/dashboard">Go to dashboard</a></li>
                        <form action="/logout" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-light">Log Out</button>
                        </form>
                    </div>    
                </ul>
            </div>
        </nav>
        <div class="container-xl pt-5 col-lg-7 bg-white border-style">        
            <div class="simple-row">
                <table class="mt-5 w-75 table table-bordered table table-striped table-responsive-lg">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col" colspan="2">Calculation Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Name:</td>
                            <td>{{one_calc.name}}</td>
                        </tr>
                        <tr>
                            <td>Salary:</td>
                            <td>{{one_calc.salary}}</td>
                        </tr>
                        <tr>
                            <td>Start Date:</td>
                            <td>{{one_calc.start_date}}</td>
                        </tr>
                        <tr>
                            <td>End Date:</td>
                            <td>{{one_calc.end_date}}</td>
                        </tr>
                        <tr>
                            <td>Reason for Termination:</td>
                            <td>{{one_calc.reason_for_termination}}</td>
                        </tr>
                        <tr>
                            <td>Jurisdiction:</td>
                            <td>{{one_calc.jurisdiction}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="mt-5 w-75 table table-bordered table table-striped table-responsive-lg">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col" colspan="2">Calculations Results</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Employment relationship duration:</td>
                            <td>{{one_calc.relation_duration_years}} years, {{one_calc.relation_duration_months}} months, {{one_calc.relation_duration_days}} days</td>
                        </tr>
                        <tr>
                            <td>Seniority Compensation:</td>
                            <td>{{one_calc.comp_seniority}} </td>
                        </tr>
                        <tr>
                            <td>Advance Notice Compensation:</td>
                            <td>{{one_calc.comp_advance_notice}}</td>
                        </tr>
                        <tr>
                            <td>TOTAL COMPENSATION:</td>
                            <td>{{one_calc.total}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="simple-row text-center">
                <form action="/calculationEdit/{{one_calc.id}}" method="post">
                    {% csrf_token %}
                    <div>
                        <button type="submit" class="btn-style my-5 mx-2 form-control">Edit Calculation</button>
                    </div>
                </form>
                <form action="/calculationDelete/{{one_calc.id}}" method="post">
                    {% csrf_token %}
                    <div>
                        <button type="submit" class="btn-style-red my-5 mx-2">Delete Calculation</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>