<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel= "stylesheet" href="{% static 'css/severanceCalculations.css' %}">
</head>
<body>
    <nav>
        <div class="row-nav">
            <!-- <p>Some image or logo</p> -->
            <h3 class="font-white ml-3">Severance Payment Calculator</h3>
        </div>
        <div>
            <ul class="row-nav">
                <div class="row_links col">
                    <li class="align-items-center mt-2"><a href="/calculationNew">Make a new calculation</a></li>
                    <form action="/logout" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-light">Log Out</button>
                    </form>
                </div>    
            </ul>
        </div>
    </nav>
    <section>
        <div class="container col-lg-9 bg-white border-style">
            <div>
                {% if logged_user.nickname %}
                <h2 class="mt-4">Hello, {{logged_user.nickname}}</h2>
                {% else %}
                <h2 class="mt-4">Hello {{logged_user.first_name}}</h2>
                {% endif %}
                <h3 class="my-5">Previous Calculations</h3>
                    <ol class="text-center">
                    {% for severance in logged_user.severances.all %}
                    <li><a href="/calculationDetails/{{severance.id}}">{{severance.name}}</a></li>
                    {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- 
    Example code to use a weather API  
    <h1>Open Weather API</h1>
    <h3> Temperature in {{weather.name}} is {{weather.main.temp}} F.</h3>
    <h4>Min: {{weather.main.temp_min}} F.</h4>
    <h4>Max: {{weather.main.temp_max}} F.</h4>
    -->
</body>
</html>