.pt{
    padding: 100px 0 300px 100px;
    width:45%;
    /* min-height:80%; */
    height: 90%;
    font-size: 20px;
}

.line_spacing{
    line-height:1.6em;
}

.title {
    font-size:40px;
    color:rgb(24, 57, 130);
    word-spacing: 3px;
    letter-spacing: 2px;
    text-decoration: underline;
}