.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #323131;
    padding: 0 3rem;
    padding-bottom: 5px;
}

.main-header h1, h4 {
    color: white;
    margin-right: 375px;
}

.main-row{
    display: flex;
}

.main-links-center{
    align-items:center;
}

.main-links{
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    
}

.main-image {
    border-radius: 50%;
    height:75px;
    padding-top: 8px;
}

.main-mr{
    width:350px;
    margin-right: 70%;
}

li{
    padding: 0 4rem;
}

.main-link-white {
    color: white;
}

