button {
    padding: 0 4rem;
}
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #323131;
    padding: 0 3rem;
    padding-bottom: 5px;
}

.main-header h1 {
    color: white;
    margin-right: 10em;
}

.main-header h4 {
    color: white;
    margin-right: 16em;
}

.main-row{
    display: flex;
}

.main-links-center{
    align-items:center;
}

.main-links{
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    
}

.main-image {
    border-radius: 40%;
    height:75px;
    padding-top: 8px;
}

.main-mr{
    width: 16em;
    margin-right: 70%;
}

.main-btn {
    background: none;
    color: white;
    border: none;
}

